* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom:-10px ;
}

.quote-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.author {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-style: italic;
  margin-left: 80%;
}

.new-quote-btn {
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.new-quote-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.4rem;
  }
  
  .author {
    font-size: 1rem;
  }
}